/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: "Fugaz One", cursive;
  --font-secondary: "Poppins", sans-serif;  /*arvo*/
  --font-code: "Poppins", sans-serif;  /*roboto*/
  --bg-color: #000000;
  --bg-color-transparent: #00000091;
  --font-color:  #ffffff;
  --btn-bg-color: #ffffff;
  --font-secondary-color: #139cec;
  --accent-color: #0a3558;
  --header-shadow: var(--accent-color) 0px 0px 8px;
  --card-shadow: var(--accent-color) 0px 0px 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: auto;
  color: var(--font-color);
  font-family: var(--font-primary);
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

header {
  background-color: var(--accent-color);
  /*box-shadow: var(--header-shadow);*/
  margin-bottom: 4rem;
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* NOT CONNECTED */
.not-connected {
  overflow: auto;
  align-items: center;
  max-width: 800px;
  height: auto;
  text-align: center;
  margin: 0 auto; /*35vh*/
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.3s ease-in-out;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.not-connected h1 {
  background: linear-gradient(to right, var(--font-secondary-color), #6726a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem 0;
  font-size: 4rem;
}

.not-connected p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  color: var(--font-secondary-color);
  line-height: 1.8;
  padding: 0 15%;
  text-align: justify;
}

.not-connected a {
  text-decoration: none;
  color: var(--font-secondary-color);
  font-size: 1.5rem;
}

/* NOT INSTALLED */
.not-installed {
  align-items: center;
  max-width: 800px;
  height: auto;
  text-align: center;
  margin: 0 auto 0 auto; /*35vh*/
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.3s ease-in-out;
}

.show-not-installed {
  opacity: 1;
  transform: translateY(0);
}

.not-installed h1 {
  background: linear-gradient(to right, var(--font-secondary-color), #6726a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem 0;
  font-size: 4rem;
}

.not-installed p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  color: var(--font-secondary-color);
  line-height: 1.8;
  padding: 0 15%;
  text-align: justify;
}

.not-installed a {
  text-decoration: none;
  color: var(--font-secondary-color);
  font-size: 1.5rem;
}

/* BOTTOM */

.lottery {
  position: absolute;
  top: 100%;
  background-color: var(--accent-color);
  color:#ffffff;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  overflow: hidden;
}

.lottery h1 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.lottery p {
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  padding: 0 20%;
  margin-bottom: 2rem;
}

.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}


.lottery-details {
  position: static;
  background-color: #ffffff;
  color: var(--accent-color);
  text-align: center;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.lottery-details h2 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
}

.lottery-details p1 {
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  padding: 0 20%;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.lottery-details p2 {
  font-family: var(--font-primary);
  font-size: 1.1rem;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 1rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 4rem;
  margin-left: 0.8rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4rem;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* CARD */

.card {
  position: relative;
  max-width: 650px;
  background-color: var(--bg-color);
  border-radius: 40px;
  border: 3px solid var(--accent-color);
  box-shadow: var(--card-shadow);
  padding: 2rem;
  margin-bottom: 3rem;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  background: linear-gradient(to right, var(--font-secondary-color), #6726a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem 0;
  font-size: 4rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 3rem;
  text-align: center;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: normal;
  padding: 0 1rem;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 8px;
}

.mint-qty > span {
  display: flex;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
  border-color: #000000;
}

.input-number {
  height: 100%;
  padding: 1rem 0.5rem;
  vertical-align: top;
  text-align: center;
  border-left: none;
  border-right: none;
}

.input-number-decrement{
  border-radius: 5px 0px 0px 5px;
}

.input-number-increment{
  border-radius: 0px 5px 5px 0px;
}

.input-max{
  border-radius: 5px;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0.5rem;
  font-size: 1.15rem;
}

.total-price-container p {
  color: var(--font-color);
  font-size: 1.15rem;
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 3rem;
  color: var(--font-secondary-color);
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
  font-family: var(--font-secondary);
}

/* SLIDDER */

.splide {
  position: absolute;
  top: 90px;
  left: 3.8rem;
  z-index: -1;
  margin-bottom: 0;
}

.splide__slide {
  border: var(--bg-color) solid;
  border-width: 5px 5px;
}

.splide__slide img {
  width: 50%;
}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 0.5rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 0.5rem 0.5rem;
    max-width: 8rem;
  }
  .not-connected {
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0 auto;
  }
  .not-connected h1 { /*added*/
    margin: 1rem 0;
    font-size: 3rem;
  }
  .not-connected p { /*added*/
    padding: 0 5%;
    text-align: justify;
  }
  .not-installed { /*added*/
    background-color: var(--bg-color-transparent);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0 auto;
  }
  .lottery {
    position: relative;
  }
  .not-installed h1 { /*added*/
    margin: 1rem 0;
    font-size: 3rem;
  }
  .not-installed p { /*added*/
    padding: 0 5%;
    text-align: justify;
  }
  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
  .countdown h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 1rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }
}

/* UTILITIES */

.hidden {
  display: none;
}
